<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
  </head>
  

    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <div class="resume-base bg-primary user-dashboard-info-box p-4">
                  <div class="profile">
                    <div class="jobster-user-info">
                      
                      <div class="profile-avatar-info mt-3">
                        <h5 class="text-white">{{resume.get_contact.first_name}} {{resume.get_contact.last_name}}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="about-candidate border-top">
                    <div class="candidate-info">
                      <h6 class="text-white">Email:</h6>
                      <p class="text-white">{{resume.get_contact.email}}</p>
                    </div>
                    <div class="candidate-info">
                      <h6 class="text-white">Phone:</h6>
                      <p class="text-white">{{resume.get_contact.phone}}</p>
                    </div>
                    <div class="candidate-info">
                      <h6 class="text-white">Address:</h6>
                      <p class="text-white">{{resume.get_contact.city}}, {{resume.get_contact.state_province}}, {{resume.get_contact.country}}, {{resume.get_contact.zip_postal_code}}</p>
                    </div>
                    <div class="candidate-info">
                      <h6 class="text-white">Summary:</h6>
                      <div class="text-white">{{resume.get_summary.body | linebreaks}}</div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-7">
                <div class="resume-experience">
                  <div class="timeline-box">
                    <h5 class="resume-experience-title">Education:</h5>
                    <div class="jobster-candidate-timeline">
                      
                      {% for school in resume.get_education %}
                      
                      
                      <div class="jobster-timeline-item">
                        <div class="jobster-timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        <div class="jobster-timeline-info">
                          <div class="dashboard-timeline-info">
                            <span class="jobster-timeline-time">{{school.start_date}} - {{school.end_date}}</span>
                            
                            <span>- {{school.name}} - {{school.major}} </span>
                            
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  
                  <div class="timeline-box mt-4">
                    <h5 class="resume-experience-title">Work &amp; Experience:</h5>
                    <div class="jobster-candidate-timeline">
                      {% for job in resume.get_experience %}
                  <div class="jobster-timeline-item">
                      <div class="jobster-timeline-cricle">
                        <i class="far fa-circle"></i>
                      </div>
                      <div class="jobster-timeline-info">
                        <div class="dashboard-timeline-info">
                          <span class="jobster-timeline-time">{{job.start_date}} - {{job.end_date}}</span>
                          <h6 class="mb-2">{{job.job_title}}</h6>
                          <span>- {{job.company_organization}}</span>
                          {% for exp in job.get_responsibilities %}
                          <p class="mt-2">{{exp.body}}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                      </div>
                    </div>
                  
                  <div class="timeline-box mt-4">
                    <h5 class="resume-experience-title">Certifications:</h5>
                    <div class="jobster-candidate-timeline">
                      <div class="jobster-timeline-item">
                        <div class="jobster-timeline-cricle">
                          <i class="far fa-circle"></i>
                        </div>
                        {% for cert in resume.get_certifications %}
                        <div class="jobster-timeline-info">
                          <div class="dashboard-timeline-info">
                            <h6 class="mb-2">{{cert.body}}</h6>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                      </div>
                   
                  <div class="timeline-box mt-4">
                      <h5 class="resume-experience-title">Skills:</h5>
                      <div class="jobster-candidate-timeline">
                          {% for skill in resume.get_skills %}
                        <div class="jobster-timeline-item">
                          <div class="jobster-timeline-cricle">
                            <i class="far fa-circle"></i>
                          </div>
                          
                          <div class="jobster-timeline-info">
                            <div class="dashboard-timeline-info">
                              <h6 class="mb-2">{{skill.body}}</h6>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
<body>